:root{
    --ColorAO : #00686c,
    --ColorAC : #32c2b9,
    --ColorBeige: #edecb3,
    --ColorAmarillo : #fad928,
    --ColorNaranja : #ff9915
}

.form-container{
    display: flex;
    background-color: #00686c;
    /* background-color: lightgreen; */
}


.form-container > button {
    background-color: #fad928;
    color: #00686c;
    width: 100px;
    height: 28px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.form-container > button:hover {
    background-color: #fad928;
    outline: 5px solid #fad928;
    transition: 0.3s;
}

.container > label{
    color:#edecb3;
    text-decoration: underline solid #fad928;
    margin: 2px;
    font-size: 20px;
}
.container > input{
   border-radius: 10px;
   border: none;
   height: 28px;
}
#change{
    color: #edecb3;
    text-decoration: underline;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
form > .btn-delete-all{
    width: 100px;
    height: 28px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: #00686c;
}
form > .btn-delete-all:hover{
    outline: 5px solid red;
    background-color: red;
}   
@media (max-width: 570px) {
    .form-container > button {
        width: 60px;
        height: 20px;
        font-size: 10px;
    }
    .container > label{
        font-size: 12px;
    }
    .container > input{
        width: 90px;
        height: 20px;
    }
    #change{
        font-size: 1.2rem;
    }
}
@media (max-width: 380px){
    .container > input{
        width: 60px;
    }
    .container > label{
        font-size: 12px;
    }
}