.container-tasks{
    display: flex;
    flex-direction: column;
    background-color: #edecb3;
    margin: 20px auto;
    width: 70vw;
    padding: 10px 20px 40px 20px;
    
}
.container-tasks > h1{
    text-align: center;
    text-decoration: underline;
    color: #00686c;
}
.List{
    list-style: none;
}
.btn-Delete{
    border: none;
    border-radius: 20px;
    color: red;
    background-color: #edecb3;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn-Delete:hover{
    color: black;
    background-color: red;
}
#DeleteTask{
    color: red;
}